@use "../abstracts/mixins" as l;

.list-unstaylid {
  @include l.list-unstaylid;
}

.site-header {
  position: relative;
  z-index: 1;
  padding-block: 7px;
  background-image: url(../../images/mobilmenuimg.svg);
  box-shadow: 0px 1px 10px 0px #12575b40;
}

.site-header__wrapper {
  @include l.align;
  justify-content: space-between;
}

.menu-btn {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url(../../images/mobilemenu.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.show-menu .menu-btn {
  background-image: url(../../images/mobilexit.svg);
}

.site-header__navbar-menu {
  position: absolute;
  top: 100%;
  left: 0;
  @include l.none;
  flex-direction: column;
  width: 100%;
  padding-block: 32px;
  background-image: url(../../images/mobilmenuimg.svg);
}

.show-menu .site-header__navbar-menu {
  display: flex;
}

.site-nav__list {
  @include l.align;
  row-gap: 32px;
  flex-direction: column;
}

.site-nav__link {
  color: #f3f7f8;
  font-family: "Roboto Mono";
  font-size: 18px;
  font-weight: 700;
  text-decoration-line: none;
  text-transform: uppercase;
}

.icon {
  display: none;
  margin-left: 135px;
}

.icon-list {
  @include l.align;
  gap: 31px;
}

// @media only screen and (max-width: 785px) and (min-width: 300px) {
//   .container {
//     max-width: 800px;
//     width: 100%;
//     margin-inline: auto;
//     padding-inline: 20px;
//   }
// }

@media only screen and (min-width: 785px) {

  .site-header {
    padding-top: 20px;
  }

  .site-header__navbar-menu {
    display: flex;
    align-items: center;  
    width: 100%;
    padding: 0;
  }
  
  .site-nav__list {
    position: absolute;
    right: 200px;
    left: 300px;
    bottom: 65px;
    @include l.align;
    flex-direction: row;
    column-gap: 40px;
  }
  
  .menu-btn {
    display: none;
  }
  
  .icon {
    display: flex;
  }

  .icon-list {
    position: relative;
    left: 250px;
    bottom: 45px;
    display: flex;
  }
}

@media only screen and (min-width: 835px) {

  .icon-list {
    left: 270px;
  }
}


@media only screen and (min-width: 961px) {

  .icon-list {
    left: 330px;
  }
}


@media only screen and (min-width: 1001px) {

  .site-nav__list {
    left: 120px;
  }

  .icon-list {
    left: 350px;
  }
}

@media only screen and (max-width: 1006px) and (min-width: 780px) {

  .site-nav__list {
    left: 120px;
  }
}

@media only screen and (min-width: 1536px) {

  .site-nav__list {
    left: 300px;
  }

  .icon-list {
    left: 440px;
  }
}